body {
    /* font-family: 'Yeseva One', cursive; */
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 500;
    background-color: #00928F;
}

img {
    width: 65px;
    height: 64px;
}


.card{
    border-radius: 10px;
    width: 22rem;
}

@media (min-width: 1000px) {
    .card{
        width: 25rem;
    }
}